.school-page {
    text-align: center;
    padding: 20px;
    margin: 0 10%;
    background-color: antiquewhite;
}
  
.school-image {
    max-width: 300px;
    margin-bottom: 20px;
}
  
.comment-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
  
.comment-list li {
    text-align: left;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
}

.comment-list li p {
    padding: 0 20px;
}
  
form {
    margin-top: 20px;
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.school-name {
    color: red;
}

.school-detail {
    text-align: left;
    padding: 0 20px;
}
  
.school-intro {
    display: flex;
}